<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>고려대학교 총동아리연합회</title>
        <link rel="icon" type="image/x-icon" href="\static\images\logo.ico">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/clubs.css">
    </head>
<body>

    <!-- 상단 배경 섹션 -->
    <section class="top-section">
        <video autoplay muted loop class="background-video">
            <source src="image/wave.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h1>중앙동아리 소개</h1>
            <div class="divider_1"></div>
            <p>머라고 설명해야하지<br>
               좀 간지나고 느낌있게 쓸 말 없나<br>
               있거나 생각나면 바로 추천해주시면 감사요</p>
        </div>
    </section>

    <!-- 메인 콘텐츠 -->
    <section class="main-content">
        <h2>소속 중앙동아리</h2>
        <div class="divider_2"></div>

        <!-- 버튼 리스트 -->
        <div class="tab-buttons">
            <button class="tab-button" data-tab="show">공연예술분과</button>
            <button class="tab-button" data-tab="science">과학기술분과</button>
            <button class="tab-button" data-tab="instrument">기악예술분과</button>
            <button class="tab-button" data-tab="volunteer">사회공헌분과</button>
            <button class="tab-button" data-tab="sport">스포츠분과</button>
            <button class="tab-button" data-tab="display">전시창작분과</button>
            <button class="tab-button" data-tab="study">학술분과</button>
            <button class="tab-button" data-tab="pre">가등록동아리</button>
        </div>
        <div class="tab-contents">
            <div class="tab-content" id="show">
                <h2>공연예술분과</h2>
                <hr>
                <p>공연예술분과는 이렇고 저렇고 이런저런 활동을 합니다</p>
                <p>이런 얘기를 대충 늘어놓아서</p>
                <p>3줄에서 조금 안이쁘면</p>
                <p>4줄 정도로 늘려서 적어보는 걸로 할게요</p>
                <hr>
                <div class="image-grid">
                    <div class="image-item">
                        <a href="soma.html">
                            <img src="image/logo_clubs/show/soma.png" alt="소리마당">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">소리마당</p>
                    </div>
                    <div class="image-item">
                        <a href="mudan.html">
                            <img src="image/logo_clubs/show/mudan.png" alt="무단외박">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">무단외박</p>
                    </div>
                    <div class="image-item">
                        <a href="kasting">
                            <img src="image/logo_clubs/show/kasting.png" alt="캐스팅">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">캐스팅</p>
                    </div>
                    <div class="image-item">
                        <a href="sum">
                            <img src="image/logo_clubs/show/sum.png" alt="극예술연구회 섬">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">극예술연구회 섬</p>
                    </div>
                    <div class="image-item">
                        <a href="beat">
                            <img src="image/logo_clubs/show/beat.png" alt="비트 앤 소울">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">비트 앤 소울</p>
                    </div>
                    <div class="image-item">
                        <a href="rooters">
                            <img src="image/logo_clubs/show/rooters.png" alt="루터스">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">루터스</p>
                    </div>
                    <div class="image-item">
                        <a href="udf.html">
                            <img src="image/logo_clubs/show/udf.png" alt="UDF">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">UDF</p>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="science">
                <h2>과학기술분과</h2>
                <hr>
                <p>과학기술분과는 이렇고 저렇고 이런저런 활동을 합니다</p>
                <p>이런 얘기를 대충 늘어놓아서</p>
                <p>3줄에서 조금 안이쁘면</p>
                <p>4줄 정도로 늘려서 적어보는 걸로 할게요</p>
                <hr>
                <div class="image-grid">
                    <div class="image-item">
                        <a href="star.html">
                            <img src="image/logo_clubs/science/star.png" alt="별빛항해">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">별빛항해</p>
                    </div>
                    <div class="image-item">
                        <a href="icarus.html">
                            <img src="image/logo_clubs/science/icarus.png" alt="이카루스">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">이카루스</p>
                    </div>
                    <div class="image-item">
                        <a href="underdog.html">
                            <img src="image/logo_clubs/science/underdog.png" alt="언더독레볼루션">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">언더독 레볼루션</p>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="instrument">
                <h2>기악예술분과</h2>
                <hr>
                <p>기악예술분과는 이렇고 저렇고 이런저런 활동을 합니다</p>
                <p>이런 얘기를 대충 늘어놓아서</p>
                <p>3줄에서 조금 안이쁘면</p>
                <p>4줄 정도로 늘려서 적어보는 걸로 할게요</p>
                <hr>
                <div class="image-grid">
                    <div class="image-item">
                        <a href="semi.html">
                            <img src="image/logo_clubs/instrument/semi.png" alt="세미클래식">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">세미클래식</p>
                    </div>
                    <div class="image-item">
                        <a href="concerto.html">
                            <img src="image/logo_clubs/instrument/concerto.png" alt="콘체르토">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">콘체르토</p>
                    </div>
                    <div class="image-item">
                        <a href="aram.html">
                            <img src="image/logo_clubs/instrument/aram.png" alt="아람소래">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">아람소래</p>
                    </div>
                    <div class="image-item">
                        <a href="nongak.html">
                            <img src="image/logo_clubs/instrument/nongak.png" alt="고대농악대">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">고대농악대</p>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="volunteer">
                <h2>사회공헌분과</h2>
                <hr>
                <p>사회공헌분과는 이렇고 저렇고 이런저런 활동을 합니다</p>
                <p>이런 얘기를 대충 늘어놓아서</p>
                <p>3줄에서 조금 안이쁘면</p>
                <p>4줄 정도로 늘려서 적어보는 걸로 할게요</p>
                <hr>
                <div class="image-grid">
                    <div class="image-item">
                        <a href="seoktop.html">
                            <img src="image/logo_clubs/volunteer/seoktop.png" alt="석탑회">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">석탑회</p>
                    </div>
                    <div class="image-item">
                        <a href="ccc.html">
                            <img src="image/logo_clubs/volunteer/ccc.png" alt="CCC">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">CCC</p>
                    </div>
                    <div class="image-item">
                        <a href="yesu.html">
                            <img src="image/logo_clubs/volunteer/yesu.png" alt="청년예수">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">청년예수</p>
                    </div>
                    <div class="image-item">
                        <a href="buddha.html">
                            <img src="image/logo_clubs/volunteer/buddha.png" alt="고불당">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">고불당</p>
                    </div>
                    <div class="image-item">
                        <a href="dagachi.html">
                            <img src="image/logo_clubs/volunteer/dagachi.png" alt="다가치">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">다가치</p>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="sport">
                <h2>스포츠분과</h2>
                <hr>
                <p>스포츠분과는 이렇고 저렇고 이런저런 활동을 합니다</p>
                <p>이런 얘기를 대충 늘어놓아서</p>
                <p>3줄에서 조금 안이쁘면</p>
                <p>4줄 정도로 늘려서 적어보는 걸로 할게요</p>
                <hr>
                <div class="image-grid">
                    <div class="image-item">
                        <a href="kusma.html">
                            <img src="image/logo_clubs/sport/kusma.png" alt="kusma">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">KUSMA</p>
                    </div>
                    <div class="image-item">
                        <a href="basket.html">
                            <img src="image/logo_clubs/sport/basket.png" alt="고농회">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">고농회</p>
                    </div>
                    <div class="image-item">
                        <a href="base.html">
                            <img src="image/logo_clubs/sport/base.png" alt="템페스트">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">템페스트</p>
                    </div>
                    <div class="image-item">
                        <a href="muho.html">
                            <img src="image/logo_clubs/sport/muho.png" alt="무호회">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">무호회</p>
                    </div>
                    <div class="image-item">
                        <a href="high.html">
                            <img src="image/logo_clubs/sport/high.png" alt="하이텐션">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">하이텐션</p>
                    </div>
                    <div class="image-item">
                        <a href="up.html">
                            <img src="image/logo_clubs/sport/up.png" alt="상승기류">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">상승기류</p>
                    </div>
                    <div class="image-item">
                        <a href="kutt.html">
                            <img src="image/logo_clubs/sport/kutt.png" alt="KUTT">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">KUTT</p>
                    </div>
                    <div class="image-item">
                        <a href="kubc.html">
                            <img src="image/logo_clubs/sport/kubc.png" alt="kubc">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">KUBC</p>
                    </div>
                    <div class="image-item">
                        <a href="sulmak.html">
                            <img src="image/logo_clubs/sport/sulmak.png" alt="설맥">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">설맥</p>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="display">
                <h2>전시창작분과</h2>
                <hr>
                <p>전시창작분과는 이렇고 저렇고 이런저런 활동을 합니다</p>
                <p>이런 얘기를 대충 늘어놓아서</p>
                <p>3줄에서 조금 안이쁘면</p>
                <p>4줄 정도로 늘려서 적어보는 걸로 할게요</p>
                <hr>
                <div class="image-grid">
                    <div class="image-item">
                        <a href="adzone.html">
                            <img src="image/logo_clubs/display/adzone.png" alt="애드존">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">애드존</p>
                    </div>
                    <div class="image-item">
                        <a href="green.html">
                            <img src="image/logo_clubs/display/green.png" alt="그린맥">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">그린맥</p>
                    </div>
                    <div class="image-item">
                        <a href="seohwa.html">
                            <img src="image/logo_clubs/display/seohwa.png" alt="서화회">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">서화회</p>
                    </div>
                    <div class="image-item">
                        <a href="yeongsang.html">
                            <img src="image/logo_clubs/display/yeongsang.png" alt="영상놀">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">영상놀</p>
                    </div>
                    <div class="image-item">
                        <a href="kloset.html">
                            <img src="image/logo_clubs/display/kloset.png" alt="클로젯">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">클로젯</p>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="study">
                <h2>학술분과</h2>
                <hr>
                <p>학술분과는 이렇고 저렇고 이런저런 활동을 합니다</p>
                <p>이런 얘기를 대충 늘어놓아서</p>
                <p>3줄에서 조금 안이쁘면</p>
                <p>4줄 정도로 늘려서 적어보는 걸로 할게요</p>
                <hr>
                <div class="image-grid">
                    <div class="image-item">
                        <a href="mmc.html">
                            <img src="image/logo_clubs/study/mmc.png" alt="mmc">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">MMC</p>
                    </div>
                    <div class="image-item">
                        <a href="time.html">
                            <img src="image/logo_clubs/study/time.png" alt="time">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">TIME</p>
                    </div>
                    <div class="image-item">
                        <a href="news.html">
                            <img src="image/logo_clubs/study/news.png" alt="newsweek">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">NewsWeek</p>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="pre">
                <h2>가등록동아리</h2>
                <hr>
                <p>가등록동아리는 이렇고 저렇고 이런저런 활동을 합니다</p>
                <p>이런 얘기를 대충 늘어놓아서</p>
                <p>3줄에서 조금 안이쁘면</p>
                <p>4줄 정도로 늘려서 적어보는 걸로 할게요</p>
                <hr>
                <div class="image-grid">
                    <div class="image-item">
                        <a href="mana.html">
                            <img src="image/logo_clubs/pre/mana.png" alt="마나">
                        </a>
                        <p class="image-description" style="font-size: 24px; font-weight: bold;">마나</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/css/clubs.js"></script>
</body>
</html>