<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>고려대학교 총동아리연합회</title>

  <link rel="icon" type="image/x-icon" href="/static/images/logo.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>

<!-- 햄버거 버튼 -->
<div id="menuBtn" class="btn-gnb only-button">
  <button type="button" title="메뉴 열기" aria-label="메뉴 열기">
    <span></span><span></span><span></span>
  </button>
</div>

<!-- GNB 전체 오버레이 -->
<nav class="head_navi gnb" id="gnbMenu">
  <button class="btn-mgnb-close" title="메뉴 닫기" aria-label="메뉴 닫기">
    <img src="/static/images/menu-close.png" alt="닫기 버튼" />
  </button>

  <!-- 배경 이미지는 JS 에서 동적으로 교체 -->
  <div class="gnb-bg-image" id="gnbBg"></div>

  <div class="gnb-container">
    <!-- 소분류 -->
    <div class="gnb-left" id="subMenuContainer"></div>

    <!-- 중분류 -->
    <div class="gnb-center" id="midMenuContainer"></div>

    <!-- 대분류 -->
    <ul class="gnb-main-list right" id="mainMenu">
      <li data-menu="ClubUnion"><span>총동아리연합회 소개</span></li>
      <li data-menu="Clubs"><span>동아리 분과</span></li>
      <li data-menu="Notification"><span>공지사항</span></li>
      <li data-menu="Service"><span>동아리 활동지원</span></li>
      <li data-menu="Communication"><span>소통</span></li>
    </ul>
  </div>
</nav>

  <!-- 메인 슬라이더 -->
  <div class="hero-slider">
    <div class="logo-overlay">
      <img src="/static/images/union_logo.png" alt="고려대학교 로고" class="ku-logo" />
    </div>
    <div class="slider-container">
      <div class="slide">
        <img src="/static/images/main_jpg_1.jpg" alt="고려대학교 커피스" />
        <div class="item">
          <p class="text_1"><span span data-color="#034da1" style="font-family: Comic Sans MS, serif;">The 45th Korea University Sejong Campus</span></p>
          <p class="text_2"><span>'<strong style="font-family: 'Noto Sans KR', sans-serif; font-weight: 500;">KUS Club Union Paran</strong>'</span></p>
          <p class="text_3"><span class="oku-link">고려대 상징 로고</span></p>
        </div>
      </div>
      <div class="slide">
        <img src="/static/images/main_jpg_1.jpg" alt="중앙광장" />
        <div class="item">
          <p class="text_1"><span span data-color="#034da1" style="font-family: Comic Sans MS, serif;">The Power of Korea</span></p>
          <p class="text_2"><span>'<strong style="font-family: 'Noto Sans KR', sans-serif; font-weight: 500;">More Than Clubs, A Community</strong>'</span></p>
          <p class="text_3"><span class="oku-link">고려대 상징 로고</span></p>
        </div>
      </div>
      <div class="slide">
        <img src="/static/images/main_jpg_1.jpg" alt="동아리 활동" />
        <div class="item">
          <p class="text_1"><span span data-color="#034da1" style="font-family: Comic Sans MS, serif;">The Power of Korea</span></p>
          <p class="text_2"><span>'<strong style="font-family: 'Noto Sans KR', sans-serif; font-weight: 500;">Opportunity comes to those who are ready</strong>'</span></p>
          <p class="text_3"><span class="oku-link">고려대 상징 로고</span></p>
        </div>
      </div>
      <div class="slide">
        <img src="/static/images/main_jpg_1.jpg" alt="학생 활동" />
        <div class="item">
          <p class="text_1"><span span data-color="#034da1" style="font-family: Comic Sans MS, serif;">The Power of Korea</span></p>
          <p class="text_2"><span>'<strong style="font-family: 'Noto Sans KR', sans-serif; font-weight: 500;">Create your future</strong>'</span></p>
          <p class="text_3"><span class="oku-link">고려대 상징 로고</span></p>
        </div>
      </div>
    </div>

    <div class="wrap_visual">
      <button type="button" class="vis-prev">이전</button>
      <span class="now">01</span>
      <span class="slash">/</span>
      <span class="total">04</span>
      <button type="button" class="vis-next">다음</button>
    </div>
  </div>

  <!-- 소개 영역 -->
  <div class="background-wrapper">
    <canvas id="meteor-canvas"></canvas>
    <section class="hero">
        <div class="title-container">
            <h1 class="main-title">파란</h1>
            <h2 class="main-title2">신선한, 새로운 문화의 물결</h2>
        </div>
        <div class="button-container">
            <a href="introduce" class="button-box">
                <h2>소개</h2>
                <p>총동아리연합회를 소개합니다.</p>
                <div class="card-icon">
                    <i class="fa-solid fa-users"></i>
                </div>
            </a>
            <a href="event.html" class="button-box">
                <h2>주관 행사</h2>
                <p>총동아리연합회 주관 행사를 확인하세요.</p>
                <div class="card-icon">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
            </a>
            <a href="clubs" class="button-box">
                <h2>중앙동아리 목록</h2>
                <p>교내 중앙동아리들을 확인해보세요.</p>
                <div class="card-icon">
                    <i class="fa-solid fa-landmark"></i>
                </div>
            </a>
        </div>
    </section>
  </div>

  <!-- 푸터 -->
  <footer class="footer">
    <div class="footer-content">
      <p>(30019) 세종특별자치시 세종로 2511 고려대학교 세종캠퍼스 Tel : 044-860-1114  Fax : 044-860-1048</p>
      <p>&copy; 2025 Korea University(Sejong Campus) Club Union. All rights reserved.</p>
    </div>
  </footer>


  <!-- JS 파일 -->
  <script src="/static/js/main.js"></script>
</body>
</html>
